
.main-chat
  .main-chat__header
    .group-list
      %h2.group-list__name
        test
      %ul.group-list__members
        Member : 
        %li.group-list__members--names
          test
    .edit-group
      = link_to "#" do
        Edit

  .main-chat__contents
    .comments-box
      .comments-box__users
        .comments-box__users--name
          test
        .comments-box__users--time
          2020/03/06(Fri) 17:00:00
      .comments-box__text
        テストです
  .main-chat__form
    %from.input-box
      .write-box
        %input{type: "text", placeholder: "type a message", class: "write-box__text"}
        %label{class: "write-box__image"}
          = icon('far', 'image')
          %input{type: "file", class: "write-box__image__file"}
      %input{type: "submit", value: "Send", class: "send-btn"}