$word-color      : #ffffff;
$users-box       : #253141;
$groups-box      : #2f3e51;
$border-color    : #eeeeee;
$names-color     : #333333;
$sub-title__color: #999999;
$btn-color       : #38aef0;
$contents-box    : #fafafa;
$comments-color  : #434a54;
$form            : #d2d2d2;
$send-btn__word  : white;